{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="container">
    <h1>Subscription</h1>
        {{ error }}
        {{ form.errors }}
    <div class="payload">
        <form method="POST">
            {% csrf_token %}
            {{ form.email_to }}
            {{ form.author_id }}


            <br>
            <button class="btn btn-lg btn-success">Subscribe</button>
        </form>

    </div>

</div>

{% endblock %}